body {
    background-color: rgb(243, 234, 227);
  }
img{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 450px;
}

.box {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
.caja{
    width: 300px;
    height: 450px;
    justify-content: center;
}
.caja#text {
    padding-left: 30px;
    box-sizing: border-box;
}
#img{
    background-color: rgb(243, 234, 227);
    border-radius: 25px 0px 0px 25px;
}
#text{
    background-color: rgb(255, 255, 255);
    border-radius: 0px 25px 25px 0px;
}
h3{
    font-size: 14px;
    color: rgb(	167, 169, 178);
    font-weight: normal;
}
h2 {
    font-size: 35px;
    line-height: 1;
  }
p{
    font-size: 17px;
    color: rgb(	167, 169, 178);
    line-height: 1.4    ;
}